body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(39, 39, 71);
}

.start-screen {
    width:50vw;
    height: 50vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quiz {
    width:50vw;
    height: 50vh;
    background-color: rgb(184, 73, 0);
    display: none;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} 
.results-screen {
    width:50vw;
    height: 50vh;
    color: azure;
    background-color: black;
    display: none;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.answer {
    margin: 5px; 
}

.question {
    background-color: rgb(252, 136, 27);
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.results-text {
    color: cornsilk;
}

.restart {
    margin: 10px;
}